
::placeholder {
    color:rgb(171,171,171) ;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(171,171,171);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(171,171,171);
  }
.contact{
    display:flex;
    flex-direction: column;
    font-family:"Century Gothic",sans-serif;
    width:80%;margin:0 auto;
    text-align:center;transition:translate opacity 1s;
    animation:contact 1s 1 ease-in-out;
}
@keyframes contact{
    from{opacity:0;
        transform:translate(0px,100px)
    }
    to{opacity:1;
        transform:translate(0px,0px)
    }
}
.contact h1{
    color:rgb(255,175,175);font-weight: normal;
}
.contactmiddle{
    display:flex;
    flex-direction: column;
}
*:focus {
    outline: none;
}
.contactforms{
    display:flex;
    justify-content: space-between;
}
.inputs{
    flex:1;margin:20px 0;
}
.inputs input{
    background-color: transparent;
    padding:5px;border:none;
    border-bottom:3px solid rgb(206,206,206);
    font-family:"Century Gothic",sans-serif;font-size:18px;color:white;
}
.msgbox{
    width:70%;margin:0 auto;height:100px;border:3px solid rgb(206,206,206);padding:10px;background-color:transparent;    font-family:"Century Gothic",sans-serif;color:white;font-size:18px;
}
.button{
    padding:10px;
    background:linear-gradient(to right,rgb(249,140,140),rgb(155,150,150));
    border-radius:10px;
    border:none;
    width:150px;margin:10px auto;color:white;font-weight:bold;
}
@media screen and (max-width:600px){
    .contactforms{
        flex-direction: column;align-items: center;
    }
    .inputs{width:100%;}
    .msgbox{width:80%}
    .inputs input{width:90%;margin:0 auto;}
    .contact h1{font-size:25px;}
    }