.buttons{
    background-color:rgba(104,104,104,93%);
    border:3px solid white;
    border-radius:20px;
    font-family: "Century Gothic",sans-serif;
    box-shadow:2px 5px 6px rgba(0,0,0,47%);
    padding:10px;color:white;width:150px;text-align:center;margin:20px 20px;cursor:pointer;
}
@media screen and (max-width:450px){
    .buttons{
        margin:20px 5px;width:110px;
    }
}